audio{
    display: inline-block;
}
#video-section{
    top: 0px;    display: flex!important;   align-items: center;   flex-direction: column;
}
#answer-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#answer-form label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    
}

#answer-form ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
}